.container{
    display: flex;
}
.chatbox{
    background-color: aqua;
}
/* .inputbox{
    bottom: 44px;
    display: flex;
    position: absolute;
    align-items: center;
} */
.inputbox{
    height: 50px;
    padding: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputbox input{
    width: 100%;
    border: none;
    outline: none;
    color: blue;
    font-size: 18px;
}
.inputbox button{
    border-radius: 6px;
    background-color: #9c27b069;
    color: white;
    padding: 7px 16px;
    margin: 7px 0px;
    border-style: hidden;
    cursor: pointer;
}
.send{
    display: flex;
    align-items: center;
    gap: 10px;
}
.send img{
    height: 24px;
    cursor: pointer;
}
/* .input{
    height: 47px;
    background: aquamarine;
    border: none;
    padding-left: 13px;
    width: 100%;
} */