body{
    background-color: #88a8bf;
}
.container {
    background: #e7e7e7;
    width: 400px;
    border-radius: 8px;
    text-align: center;
    padding: 10px 0px 21px 0px;
    margin: 0 auto;
    top: 20vh;
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input{
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    padding: 6px 7px;
    font-size: 0.93rem;
}

.form button{
    border-radius: 6px;
    background-color: #88a8bf;
    padding: 7px 16px;
    margin: 7px 0px;
    border-style: hidden;
    cursor: pointer;
}